body {
    background-color: #FCE029;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #231F20;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  .centerHome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  .alingleft{
    text-align: left;
    width: 70%;
    margin: auto;
  }

  .active {
    background-color: #0A75BC;
  }

.form-style{
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font: 14px Arial, Helvetica, sans-serif;
}

.form-style-heading{
	font-weight: bold;
  font-style: italic;
  margin-top: 20px;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 22px;
  padding-bottom: 3px;
}
.form-style label{
	display: block;
	margin: 0px 0px 9px 0px;
}
.form-style label > span{
  width: 50px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-left: 55px;
}

.form-style input.input-field {
	width: 52%;	
}
.form-style input.input-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 6px;
	outline: none;
}
.form-style .input-field:focus{
	border: 2px solid #0A75BC;
}


.form-style button{
  font-weight: bold;
	border: none;
	padding: 8px 15px 8px 15px;
	background: #231F20;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form-style button:hover{
	background: #0A75BC;
	color: #fff;
}
